{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %}
حذف مقاله
{% endblock %}{% endblock %}

{% block main %}
<!-- we have to set enctype for sending image in form tag -->
<div class="col-md-8 text-center mx-auto">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">حذف مقاله</h3>
        </div>
    </div>
    <div class="card-header py-4">
        <form method="post">{% csrf_token %}
            <p class="py-2">آیا از حذف مقاله -{{object}}- که توسط -{{object.author.get_full_name}}- نوشته شده اطمینان دارید؟</p>
            <input type="submit" value="حذف" class="btn btn-danger">
        </form>
    </div>
</div>
{% endblock %}