{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'registration/login/images/icons/favicon.ico' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'registration/login/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/rtl.css' %}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    {% if form.non_field_errors %}
    <div class="errors">
        {% for error in form.non_field_errors %}
        <span>{{error}}</span>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">{% csrf_token %}
                <span class="login100-form-title p-b-26 myfont">
						ورود به سایت
					</span>
                <span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>

                <div class="wrap-input100 validate-input myfont" data-validate="Valid email is: a@b.c">
                    {{form.username|add_class:"input100"}}
                    {% if form.username.errors %}
                    <div class="errors">
                        {% for error in form.username.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <span class="focus-input100" data-placeholder="نام کاربری"></span>
                </div>

                <div class="wrap-input100 validate-input myfont" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                    {{form.password|add_class:"input100"}}
                    {% if form.password.errors %}
                    <div class="errors">
                        {% for error in form.password.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <span class="focus-input100" data-placeholder="پسورد"></span>
                </div>

                <div>
                    <a class="myfont" href="{% url 'password_reset' %}">فراموشی گذرواژه</a>
                    <br>
                    <a class="myfont" href="{% url 'register' %}">ثبت نام کنید</a>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn myfont">
                            ورود
                        </button>
                    </div>
                </div>
                <div class="flex-c-m">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="badge badge-danger" style="padding: 20px; margin-top: 10px;">
                        <i class="fa fa-google">  SignUp With Google</i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'registration/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'registration/login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/js/main.js' %}"></script>

</body>
</html>