{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %}
ارسال ایمیل بازیابی با موفقیت انجام شد
{% endblock %}{% endblock %}

{% block main %}
<!-- we have to set enctype for sending image in form tag -->
<div class="col-md-8 text-center mx-auto">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">گذرواژه جدید ایجاد شد</h3>
        </div>
    </div>
    <div class="card-header py-4">
        <p class="py-2">گذرواژه جدیدتان تنظیم شد.</p>
        <p><a href="{% url 'login' %}">ورود</a></p>
    </div>
</div>
{% endblock %}