{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %}
عملیات با موفقیت انجام شد
{% endblock %}{% endblock %}

{% block main %}
<!-- we have to set enctype for sending image in form tag -->
<div class="col-md-8 text-center mx-auto">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">تغییر رمز عبور</h3>
        </div>
    </div>
    <div class="card-header py-4">
        <p class="py-2">گذرواژه با موفقیت تغییر یافت.</p>
    </div>
</div>
{% endblock %}